/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */
.addclass #formheader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2em;
  padding-bottom: 1em;
  align-items: center;
}

.addclass #formheader h1 {
  font-size: 1.8em;
  font-weight: bold;
  grid-column: 2;
  text-align: center;
}

.addclass #backbtn {
  display: flex;
  color: #006eb6;
  margin-left: 50px;
  cursor: pointer;
  font-size: 1.3em;
  margin-top: 0.7em;
}

.addclass #backbtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.addclass #gridcont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: #f0f0f0;
  width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.addclass body {
  background-color: #006eb6;
  font-family: "Raleway", sans-serif;
}

.addclass h1 {
  grid-row: 1/2;
}

.addclass .container {
  width: 1000px;
  background-color: white;
  border-radius: 50px;
  margin: 50px auto;
  padding: 15px;
}

.addclass .column1 {
  grid-row: 2/2;
}

.addclass .column2 {
  grid-row: 2/2;
}

.addclass .validation {
  color: #ff0000;
  text-align: left;
}

.addclass .input:valid {
  border: 2px solid rgba(0, 0, 0, 10%);
}

.addclass input {
  width: 93.5%;
  border: 3px solid #98d5fd;
  padding: 10px 10px;
  margin-top: 10px;
}

.addclass select {
  width: 100%;
  border: 3px solid #98d5fd;
  padding: 11.5px;
  margin-top: 10px;
}

.addclass .btnprimary {
  background-color: #006eb6;
  font-size: 1.5rem;
  padding: 10px;
  margin: 0px 40% 20px;
  width: 20%;
  border-radius: 7px;
  border: transparent;
  color: #fff;
}

.addclass #nameError {
  display: none;
  font-size: 0.8em;
}

.addclass #nameError.visible {
  display: block;
}

.addclass input.invalid {
  border-color: red;
}

@media screen and (max-width: 37.4em) {
  .addclass .container{
    background-color: white;
    padding: 15px;
    width: unset;
  }
  .addclass .gridcont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: #f0f0f0;
    /* width: 900px; */
    margin: 30px auto;
    padding: 20px;
}
}