/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */
.addprofessor body {
    background-color: #006eb6;
    font-family: "Raleway", sans-serif;
    /* text-align: center; */
  }
  
.addprofessor .container {
    width: 1000px;
    background-color: white;
    margin-top: 50px;
    height: 500px;
    border-radius: 50px;
}

.addprofessor div {
    display: block;
    margin: auto auto;
}
  
.addprofessor form {
    text-align: center;
}
  
.addprofessor form .data {
  text-align: left;
  width: 50%;
}

.addprofessor label {
  padding: 12px 0 10px;
  display: inline-block;
  margin: 0.7%;
  font-size: 1.5rem;

}

.addprofessor input
{
  width: 100%;
  padding: 8px 0;
}

.addprofessor .submitBt {
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  border-radius: 7px;
  display: block;
}

/* .btn-primary {
  background-color: #006eb6 !important;
} */

/* table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 6px; 
} */
  /* input:required {
  border-left: red solid 8px;
} */
.addprofessor input:required:valid {
  border-bottom: green solid 5px;
} 

/* form .semester  {
  margin-top: 5px; 
  display: block;
  padding: 0px;
  margin: 5px;
} */
/* 
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #006eb6;
  color: white;
  border-radius: 6px 6px 0 0;
} */
/* 
.fa {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.fa .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #8dd3ee;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 9px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -85px;
}
.fa .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #8dd3ee transparent transparent transparent;
}
.fa .show {
  visibility: visible;
} */
/* th, td, p, input, h3 {
  font:15px 'Segoe UI';
} */
/* table, th, td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
} */

.addprofessor .data{
  margin-bottom: 2.3em;
}
/* img{
  max-width: 150px;
  margin: 2em ;
} */


/* Medium View */
@media only screen and (min-width: 37.5em) {
  /* div.container {
    
  } */
  .addprofessor .submitBt {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px auto;
    width: 20%;
    border-radius: 7px;
    display: block;
  }

  /* form .data {
    
  } */
}

/* Large View */
@media only screen and (min-width: 64em) {
  /* form .data {
  } */
}
