
/* Large View */

.body {
  font-family: "Raleway", sans-serif;
}

.myclasses .container {
  width: 1000px;
  margin: 50px auto;
  border-radius: 50px;
  column-gap: 10%;
  background-color: #ffffff;
  padding: 10px 20px;
  

}

.myclasses #backbtn {
  display: flex;
  color: #006eb6;
  margin-left: 65px;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-family: 'Raleway';
}


.myclasses #title {
  font-size: 1.6rem;
  font-family: 'Raleway';
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 0px 0px 40px 0px;
  margin: 0 auto;
  display: table;
}

.myclasses #classesAndSearch {
  display: flex;
  width: 800px;
  margin-right: auto;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  padding: 10px 0px;
  font-weight: bold;
  align-items: center;
}

.myclasses .lets {
  width: 800px;
  margin: 0px 10px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0px;
}

.myclasses .searchbar {
margin: 0px 50px 0px 50px;
border: 1px solid #ffffff;
background-color: #006eb6;
height: 30px;
width: 300px;
padding: 0px 9px;
display: flex;
align-items: center;
}

.myclasses #search {
  font-family: "Raleway", sans-serif;
  background-color: #006eb6;
  border: none;
  margin-left: 3px;
}

.myclasses #search::placeholder{
  color: #ffffff;
  background-color: #006eb6;
  opacity: 80%;
}


.myclasses #search:focus, textarea:focus, select:focus{
  outline: none;
  caret-color: auto;
  color: transparent;
  color: currentColor;
}

.myclasses #search:focus::-webkit-input-placeholder {
  opacity: 0;
}

.myclasses #search:focus::-moz-placeholder {
 opacity: 0;
}

.myclasses #search:focus:-ms-input-placeholder {
  opacity: 0;
}

.myclasses #search:focus:-moz-placeholder {
 opacity: 0;
}


.myclasses table {
  width: 350px;
  height: 200px;
  border-collapse: collapse;
  margin-left: 10%;
  margin-right: auto;
  border: 2px solid #006eb6;  
  padding: 10px;
}

.myclasses th {
  font-size: 1.5rem;
  background-color: #006eb6;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
}

.myclasses tr {
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
}
.myclasses .vmName{
  /*Need to make this text thicker*/
  color: #006eb6;
  padding: 10px;
}
.myclasses .semester{
  float: right;
  padding: 10px;
}
.submitBt {
  background-color: #006eb6;
  font-size: 1.5rem;
  padding: 10px;
  margin: 0px 40% 20px;
  width: 20%;
  border-radius: 7px;
  border: transparent;
  color: #fff;
}

.myclasses .table{
  gap: .5em;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.myclasses .card{
  width: 45%;
}
.myclasses .tableheader{
  background-color: #006eb6;
  color: white;
  padding: 20px;
  font-family: "Raleway";
  font-weight:bolder
}
.myclasses .tablecontent{
  padding: 20px;
  font-family: "Raleway";
  font-weight: bold;
  margin: auto;
  text-align: center;
}
.myclasses .addbutton{
  background-color: #006eb6;
  border-style: none;
  font-family: "Raleway";
  font-weight: bolder;
  color: white;
  padding: 1em;
  border-radius: 5px;
  width: 45%;
}
.myclasses .tablerow{
  padding: 1em;
}