* {
  margin: 0;
}

/* .utilization #backbtn {
  display: flex;
  color: #006eb6;
  margin-left: 50px;
  cursor: pointer;
  font-size: 1.3em;
  margin-top: 0.7em;
} */

.utilization .li {
  list-style: none;
  font-family: "Raleway";
}

.utilization .studentName {
  font-family: "Raleway";
}
.utilization .studentEmail {
  font-family: "Raleway";
}
.utilization .studentVM {
  font-family: "Raleway";
}
.utilization .creationDate {
  font-family: "Raleway";
}
.utilization .vmTemplate {
  font-family: "Raleway";
}

.utilization #backbtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.utilization #formheader {
  padding-top: 2em;
  padding-bottom: 1em;
  align-items: center;
}

.utilization #formheader h1 {
  font-size: 1.8em;
  font-weight: bold;
  grid-column: 2;
  text-align: center;
}

.utilization .container {
  background-color: white;
  margin: 50px auto;
  height: 800px;
  border-radius: 50px;
  background-image: url("/public/images/background.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: -10%;
  background-position-y: 110%;
  padding: 15px;
}

.utilization h1 {
  grid-row: 2/3;
  grid-column: 1/2;
  padding-left: 49px;
}

/* .utilization .header {
  margin-top: 30px;
  grid-column: 1/3;
  width: 100%;
} */

.utilization .courseselect {
  font-size: 20px;
  display: grid;
  margin-bottom: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  margin-left: 50px;
}

.utilization label {
  color: #006eb6;
}

.utilization select {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 10%);
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* width: 200px; */
  height: 35px;
  font-size: 16px;
}

.utilization h2 {
  color: #006eb6;
}

.utilization .btn {
  background-color: #006eb6;
  padding: 30px;
  border: none;
  border-radius: 8px;
  /* width: 220px; */
  height: 75px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.utilization .logo {
  /* width: 35px; */
  height: 40px;
  align-self: center;
}

.utilization .button {
  display: flex;
  margin-bottom: 20px;
  padding: 25px;
  justify-content: flex-start;
}

.utilization .twoTables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.utilization .searchBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
}

.utilization .searchIcon {
  color: #006eb6;
}

.utilization .listHead {
  display: flex;
  /* width: 350px; */
  background-color: #006eb6;
  height: 60px;
  padding: 5px;
}

.utilization #search {
  padding: 5px;
  /* width: 150px; */
  color: white;
}

.utilization .listHeadText {
  color: white;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.utilization .updateList {
  overflow-y: scroll;
  height: 180px;
  /* width: 350px; */
}

.utilization .scoreboard {
  text-align: left;
  grid-area: 1 / 2 / 2 / 3;
  border: solid 1px;
}

.utilization th {
  margin-right: 50px;
  padding-right: 20px;
}

/* Small View */
@media only screen and (max-width: 37.5em) {
  .utilization .utilization {
    margin: unset;
    margin: 0px;
  }

  .utilization h1 {
    padding-left: 0px;
  }

  .utilization .h2available {
    padding: 0px;
    margin-top: 40px;
    font-size: 1em;
  }
  .utilization .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: unset;
    min-width: 285px;
  }

  .utilization .container {
    width: 100vw !important;
    border-radius: 0;
    margin: 0;
    height: 100%;
    padding: 0 !important;
  }

  .utilization #formheader {
    margin: 0px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
  }

  .utilization .logo {
    display: none;
  }
  .utilization .dropdown {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
  }

  .utilization .dropdownDescription {
    font-size: 0.8em;
    max-width: 300px;
  }

  .utilization .singleOption {
    font-size: 15px;
  }

  .utilization .courseselect {
    display: flex;
    flex-direction: column;
    margin: unset;
    width: unset;
  }

  .utilization .listHead {
    flex-direction: column;
    height: unset;
    border-radius: 15px;
    padding: 5px 20px 15px 20px;
    align-items: flex-start;
  }
  .utilization .templatesAvailable {
    display: flex;
    flex-direction: column;
  }
  .utilization .button {
    padding: 0px;
  }

  .utilization .btn {
    width: 90px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    height: 65px;
  }

  .utilization .twoTables {
    display: flex;
    flex-direction: column;
  }

  .utilization .listHead {
    background-color: transparent;
  }
  .utilization .listHeadText {
    color: black;
  }

  .utilization #search {
    color: black;
  }

  .utilization .searchBar {
    margin-bottom: 25px;
  }

  .utilization .updateList {
    width: 80vw;
    max-width: 242px;
  }

  .utilization .updateList::-webkit-scrollbar {
    width: 10px;
  }

  .utilization .updateList::-webkit-scrollbar-thumb {
    background: #006eb6;
    border-radius: 20px;
  }

  .utilization .updateList::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }

  .utilization .li:hover {
    cursor: pointer;
    font-weight: bold;
    color: #006eb6;
  }
  .utilization .scoreboardTable {
    display: none;
  }

  .utilization .studentEmail {
    display: none;
  }

  .utilization .creationDate {
    display: none;
  }
  .utilization .vmTemplate {
    display: none;
  }
  /* POPUP BOX */
  .utilization .popupbox {
    position: fixed;
    background: #0000007b;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .utilization .box {
    position: relative;
    width: 70vw;
    min-width: 170px;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid #999;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  .utilization .h3 {
    padding: 5px 0px 20px 0px;
  }
  .utilization .closeicon {
    content: "x";
    cursor: pointer;
    position: relative;
    color: red;
    font-weight: bold;
    width: 20px;
    height: 19px;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
    border: 3px solid white;
    font-size: 20px;
    align-self: flex-end;
    transition: 0.3s;
  }
  .utilization .h1 {
    color: goldenrod;
  }

  .utilization .scoreboard {
    display: none;
  }
}

/* Medium View */
@media only screen and (min-width: 37.5em) {
  .utilization .container {
    width: 90vw;
  }
  .utilization .h1 {
    color: red;
  }
  .utilization .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .utilization .courseselect {
    display: flex;
    font-size: unset;
    margin: unset;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
  }

  .utilization .dropdown {
    font-size: 0.9em;
  }
  .utilization .dropdownDescription {
    margin-right: unset;
    width: unset;
    font-size: unset;
  }
  .utilization .templatesAvailable {
    margin: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .utilization .h2available {
    margin-top: 2em;
    font-size: 1em;
    margin-bottom: 0.5em;
    padding: 0;
  }

  .utilization .button {
    padding: unset;
    justify-content: unset;
  }

  .utilization .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    padding: 5px 18px;
    cursor: pointer;
    width: unset;
    height: unset;
    margin: 0 10px 0px 0px;
    font-size: unset;
  }

  .utilization .twoTables {
    display: flex;
    flex-direction: column;
  }

  .utilization .searchBar {
    display: unset;
    margin: unset;
  }

  .utilization .listHead {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: unset;
    margin: unset;
  }

  .utilization .updateList {
    width: unset;
  }

  .utilization .scoreboard {
    margin-top: 20px;
  }
  .utilization .alertLabel {
    display: none;
  }
  .utilization .alertButton {
    display: none;
  }

  .utilization .scoreboard {
    background: lightgrey;
    border: none;
    border-radius: 8px;
    padding: 5px 5px;
  }
}

/* Large View */
@media only screen and (min-width: 64em) {
  .utilization .h1 {
    color: blueviolet;
  }
  .utilization .container {
    width: 1000px;
  }
  .utilization .twoTables {
    flex-direction: row;
  }
  .utilization .scoreboard {
    background: lightgray;
    border-radius: 8px;
    padding: 5px;
    max-width: 550px;
    margin: 68px 0px 0px 10px;
    border: none;
  }

  .utilization .alertLabel {
    display: none;
  }
  .utilization .alertButton {
    display: none;
  }
}
