.topright{
    display: grid;
    grid-template-columns: 70% 30%;
    width: 900px;
    padding-top: 20px;
  }
  .signOut{
    font-family: 'Raleway';
    font-weight: 200;
    text-align: right;
    background: transparent;
    border: transparent;
    color: #006eb6;
  }
  #signOut:hover{
    color: red;
  }
  .right{
    display: flex;
    float: right;
  }

.logo{
    width: 150px;
    padding-left: 50px;
}