* @cindycas @mlutz060 @shaemc

# Eslint configuration

## Eslint-config-prettier
Turns off all rules that are unnecessary or might conflict with Prettier.

This lets you use your favorite shareable config without letting its stylistic choices get in the way when using Prettier.

Note that this config only turns rules off, so it only makes sense using it together with some other config.

* Check if rules in a file are unnecessary or conflict with Prettier.
**npx eslint-config-prettier [file path]**

## Eslint-plugin-prettier
Runs Prettier as an ESLint rule and reports differences as individual ESLint issues.



