/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */
/* body {
    background-color: #006eb6;
    font-family: "Raleway", sans-serif;
    /* text-align: center; */
/* } */
/* div {
    display: block;
    margin: auto auto;
    width: 90%;
} */
/* h1{
    grid-row: 1/2;
} */
/* h2 {
    color: #006eb6;
    font-size: 18px;
}
.back {
    text-decoration: none;
    color: #006eb6;
} */
/* .container {
    width: 1000px;
    background-color: white;
    margin-top: 50px;
      height: 500px;
      border-radius: 50px;
      padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
  
}
label {
    color: #006eb6;
}
.btn {
    background-color: #006eb6;
    padding: 20px;
    border: none;
    border-radius: 8px;
} */

/** VM utilization **/
/* .button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.VMU-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
}
.VMU-header a {
    align-self: center;
} */
/*********************/