body {
    background-color: rgb(159, 159, 189);
    font-family: 'Raleway', sans-serif;
}
div.login {
    max-width: 500px;
    background-color: white;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    padding: 15px;
    margin-top: 50px;
}
div.g-signin2 {
    margin: 15px;
}
div {
    display: block;
    margin: auto auto;
}
