.header * {
  width: 95%;
  margin-top: 25px;
}

.header .grid {
  display: grid;
  margin-left: 50px;
  grid-template-columns: 64% 0.2fr 1fr 14%;
}

.header .logo {
  width: 150px;
  margin-top: 21px;
}

.header #welcome {
  color: #006eb6;
  font-size: 1.2em;
  width: 100%;
  padding: 0;
  text-align: right;
}

.header .signOut {
  background-color: transparent;
  color: #d01900;
  width: 85px;
  height: 25px;
  border-radius: 10px;
  border: #d01900 1px solid;
  padding: 0;
  margin-left: 9px;
  margin-top: 26px;
  font-size: 15px;
}

.header .signOut:hover {
  background-color: #d01900;
  color: white;
}

.header .materialicons {
  color: #8ed2ff;
  text-align: left;
  font-size: 25px;
}

.header .material {
  color: #1faafa;
  font-size: 35px;
  margin-top: 21px;
}

/* Small View*/
@media only screen and (max-width: 650px) {

  .header .grid {
    margin-left: 0px;
  }

  .header #welcome {
    font-size: 1em;
  }

  .header .signOut {
    font-size: 14px;
  }
  
  /* .header .material {
    display: none;
  } */

  .header .materialicons {
    color: #8ed2ff;
    text-align: left;
    font-size: 25px;
  }
  
  .header .material {
    color: #1faafa;
    font-size: 25px;
    margin-top: 21px;
  }
}

/* Medium View */
@media only screen and (min-width: 650px) and (max-width: 1000px) {

  .header .grid {
    margin-left: 0px;
  }

}