.header .logo {
  width: 170px;
  margin: 17px 25px;
}

.header .signOut {
  height: 20px;
  color: red;
  padding: 10px;
  margin: 0px;
  height: 40px;
  border-radius: 25px;
  font-size: 1em;
  border: none;
  background: none;
}

.header .signOut:hover {
  cursor: pointer;
  opacity: 85%;
}

.header .logo:hover {
  cursor: pointer;
  opacity: 95%;
}

.header {
  display: flex;
  width: 100vw;
  height: 80px;
  max-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
}

.header .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 50px;
}

.header .links {
  max-height: 80px;
}

.header .rightSide .links a {
  text-decoration: none;
  color: #006eb6;
  font-size: 1em;
  margin-left: 15px;
}

.header .rightSide .hamWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
}

.header .rightSide .outHam {
  visibility: hidden;
  border: none;
  font-size: 2em;
  background-color: transparent;
  color: #006eb6;
  /* transition: ease-in-out .2s; */
}
/* may not work */

.header .rightSide .outHam:hover {
  font-size: 2.1em;
  text-shadow: 0 2px 2px 2px black;
  cursor: pointer;
}

.header .rightSide #hidden {
  display: flex;
}

.header .leftSide {
  flex: 50%;
  display: flex;
  align-items: center;
  padding-right: 25px;
}

.header .leftSide .outHam {
  height: 32px;
  width: 70px;
  font-size: 1em;
}
/* may not work */

a {
  margin: 0px 30px;
}
/* need to be more specific */

/* Small View */
@media screen and (max-width: 37.5em) {
  .header .header {
    align-items: baseline;
    height: 90px;
  }

  .header .rightSide .outHam {
    display: flex;
    margin-bottom: 6px;
  }

  .header .rightSide .links {
    display: none;
  }

  .header .rightSide #hidden {
    position: absolute;
    top: 80px;
    height: 230px;
    max-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .header .rightSide #hidden a {
    margin: 10px 0px;
  }

  .header .rightSide .hamWrapper {
    margin-top: 10px;
  }

  .header .rightSide .hamWrapper .outHam {
    visibility: visible;
  }

  .header .logo {
    width: 130px;
  }
}

/* Medium View */
@media only screen and (min-width: 37.5em) {
  .header {
    width: 100vw;
  }

  .header .links {
    display: flex;
    align-items: center;
  }
}

/* Large View */
@media only screen and (min-width: 64em) {
  .header .rightSide .hamWrapper {
    display: none;
  }

  .header {
    width: 70vw;
    min-width: 1000px;
  }

  /* .header {
    width: 100vw;
  }

  .header .links {
    display: flex;
    color: red;
    background: white;
    align-items: center;
  } */
}
