/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */
* {
  margin: 0;
}
body {
  background-color: #006eb6;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.logo{
  width: 150px;
  display: flex;
  padding-left: 50px;
  margin-top: 50px;
  grid-row: 1/2;

}
#name0fProfessor {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 40px;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 50px;
  color: black;
}
#name0fProfessor span {
  font-weight: bold;
}
#greeting {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 50px;
  color: black;
  grid-column: 1/2;
  grid-row: 2/3;
  
}
.professorgrid {
  grid-column: 2/3;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 8% 55% 30%;
  margin: auto 0;
}
.material-icons {
  grid-column: 1/2;
  color: #006eb6;
  text-align: left;
}
#welcome {
  grid-column: 2/3;
  color: #006eb6;
  font-size: 1.1em;
}
.signOut {
  grid-column: 3/4;
  background-color:transparent;
  color: #006eb6;
  /* border-style: none; */
  width: 85px;
  height: 25px;
  border-radius: 10px;
  border: #006eb6 1px solid;
}

.signOut:hover {
  background-color: #006eb6;
  color: white;

}
/* .signOut a {
  color: red;
} */

div.g-signin2 {
  margin: 15px;
}
div 
{
  display: block;
  margin: auto auto;
}

label {
  /* padding: 12px 0 10px; */
  display: inline-block;
  margin: 1em;
  font-size: 1.5rem;
}

input,
textarea,
select#semester,
#vm_dropDown
{
  width: 100%;
}

input {
  padding: 8px 0;
}
button{
  margin-bottom: 2em;
}

.addgrid{
  display: grid;
  grid-template-rows: 100px 100px 100px;
}

.add_professor {
  font-size: 20px;
  /* float: left; */
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  grid-column: 2/3;
  background-color: #3A8ACE;
  color: white;
  grid-row: 2/3;
}
.add_professor:hover {
  background-color: #022d53;
}
.add_professor .submit_professor {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 30px;
  float: left;
  padding-left: 20px;
  
}

.add_professor span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  
}
.add_class{
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #5BBCFB;
  color: white;
  grid-row: 1/2;
}
.add_class:hover {
  background-color: #022d53;
}
.add_class .submitBt {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-top: 30px;
  float: left;
  padding-left: 20px;
  
}
.add_class span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  
}

.vm_utilization {
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  display: block;
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #1A63A1;
  color: white;
}
.vm_utilization:hover {
  background-color: #022d53;
}

.vm_utilization span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  
}

.vm_utilization a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 30px;
  float: left;
  padding-left: 20px;
}

#admin_portal {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 300px;
}
form .data {
  width: 60%;
}
textarea {
  padding: 10px 8px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  /* border-radius: 6px; */
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #006eb6;
  color: white;
  border-radius: 6px 6px 0 0;
}

th, td, p, input, h3 {
  font:15px 'Segoe UI';
}
table, th, td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
}


/* Medium View */
@media only screen and (min-width: 37.5em) {
  /* div.container {
    width: 60%;
  } */

  
}

/* Large View */
@media only screen and (min-width: 64em) {
  form .data {
  }
}
