/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */
* {
  margin: 0;
}
body {
  background-color: #006eb6;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.container {
  width: 1000px;
  background-color: white;
  text-align: center;
  margin-top: 50px;
  height: 500px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 25% 70%;
  background-image: url('/images/background.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: -10%;
  background-position-y: 110%;
}
.logo{
  width: 150px;
  display: flex;
  padding-left: 50px;
  margin-top: 50px;
  grid-row: 1/2;

}
#name0fProfessor {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 40px;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 50px;
  color: black;
}
#name0fProfessor span {
  font-weight: bold;
}
#greeting {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 20px;
  padding-top: 70px;
  padding-left: 50px;
  color: black;
  grid-column: 1/2;
  grid-row: 2/3;
  
}
.professorgrid {
  grid-column: 2/3;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 8% 55% 30%;
  margin: auto 0;
}
.material-icons {
  grid-column: 1/2;
  color: #006eb6;
  text-align: left;
}
#welcome {
  grid-column: 2/3;
  color: #006eb6;
  font-size: 1.1em;
}
.signOut {
  grid-column: 3/4;
  background-color:transparent;
  color: #006eb6;
  /* border-style: none; */
  width: 85px;
  height: 25px;
  border-radius: 10px;
  border: #006eb6 1px solid;
}

.signOut:hover {
  background-color: #006eb6;
  color: white;

}
/* .signOut a {
  color: red;
} */

div.g-signin2 {
  margin: 15px;
}
div 
{
  display: block;
  margin: auto auto;
}

label {
  /* padding: 12px 0 10px; */
  display: inline-block;
  margin: 1em;
  font-size: 1.5rem;
}

input,
textarea,
select#semester,
#vm_dropDown
{
  width: 100%;
}

input {
  padding: 8px 0;
}

.addgrid{
  display: grid;
  grid-template-rows: 100px 100px 100px;
}

.add_professor {
  font-size: 20px;
  /* float: left; */
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  grid-column: 2/3;
  background-color: #3A8ACE;
  color: white;
  grid-row: 2/3;
}
.add_professor:hover {
  background-color: #022d53;
}
.add_professor .submit_professor {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 30px;
  float: left;
  padding-left: 20px;
  
}

.add_professor span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  
}
.add_class{
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #5BBCFB;
  color: white;
  grid-row: 1/2;
}
.add_class:hover {
  background-color: #022d53;
}
.add_class .submitBt {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-top: 30px;
  float: left;
  padding-left: 20px;
  
}
.add_class span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  
}

.vm_utilization {
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  display: block;
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #1A63A1;
  color: white;
}
.vm_utilization:hover {
  background-color: #022d53;
}

.vm_utilization span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  
}

.vm_utilization a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 30px;
  float: left;
  padding-left: 20px;
}

#admin_portal {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 300px;
}
form .data {
  width: 60%;
}
textarea {
  padding: 10px 8px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  /* border-radius: 6px; */
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #006eb6;
  color: white;
  border-radius: 6px 6px 0 0;
}

th, td, p, input, h3 {
  font:15px 'Segoe UI';
}
table, th, td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
}



/* animation*/


.area{
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  /* height:100vh; */
  
}

.circles{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}




/* Medium View */
@media only screen and (min-width: 37.5em) {
  /* div.container {
    width: 60%;
  } */

  
}

/* Large View */
@media only screen and (min-width: 64em) {
  form .data {
  }
}
