.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

button {
  width: 100%;
  height: 75%;
  /* margin-bottom: -10px; */
  background-color: var(--backgroundcolor);
  border-style: none;
  color: white;
  font-weight: bold;
  font-size: var(--boldlabelfontsize);
  border-radius: 10px;
}

.dashboardButton {
  background-color: white !important;
  border-style: inset;
  border: 0.1rem solid var(--backgroundcolor);
  color: var(--backgroundcolor);
}

.dashboardButton:hover {
  background-color: #014878 !important;
  color: white;
}

button:hover {
  background-color: #014878;
}

.modalBox {
  position: absolute;
  width: 350px;
  aspect-ratio: 1.5/1;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  box-shadow: 0 5px 10px grey;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 2.5rem;
}

.closeBtn {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  border-radius: 50%;
  width: 20px;
  color: grey;
  background-color: white;
  aspect-ratio: 1/1;
  border: none;
}

.message {
  padding-top: 0.6em;
  padding-bottom: 1.2em;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

/* .iconPlaceholder {
  height: 100px;
  width: 100px;
  background: limegreen;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
} */

.checkicon {
  font-size: 5rem !important;
  color: #d01900;
}

.checkiconGreen {
  font-size: 5rem !important;
  color: var(--successcolor);
}

.optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5rem 1rem;
}

.closeicon {
  cursor: pointer;
  padding-left: 300px;
}

.a {
  display: flex;
  justify-content: end;
  text-decoration: none;
}

/* Small View */
@media only screen and (max-width: 37.5em) {
  .modalBox {
    width: 65vw;
  }

  .iconPlaceholder {
    margin: 0;
  }

  .message {
    min-width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modalBox {
    width: 65vw;
  }
  .optionsContainer {
    display: flex;
    flex-direction: column;
  }

  .closeicon {
    display: flex;
    justify-content: end;
    margin-right: 3vw !important;
    margin-top: 3vw !important;
    padding-left: 0;
  }

  button {
    cursor: pointer;
  }
}

/* Medium View */
@media only screen and (min-width: 37.5em) {
}

/* Large View */
@media only screen and (min-width: 64em) {
}
