.createvm .container {
  max-width: 1000px;
  background-color: white;
  margin: 50px auto;
  border-radius: 50px;
  column-gap: 10%;
  padding: 10px 20px 80px;
  min-height: 500px;
}

.createvm #backbtn {
  display: flex;
  color: #006eb6;
  margin-left: 1em;
  cursor: pointer;
  font-size: 1.3em;
  margin-top: 0.7em;
}

.createvm .lets {
  font-weight: bold;
  text-align: center;
  font-size: 180%;
}

.createvm .body {
  display: grid;
  grid-template-columns: 1fr 1fr /*1fr*/;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  padding-top: 4%;
}

.createvm body {
  background-color: #006eb6;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.createvm .material {
  font-size: 50px;
  color: #006eb6;
  grid-row: 1;
  text-align: center;
}

.createvm #course {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: #ddd;
  color: #919294;
  border-radius: 4px;
  width: 65%;
}

.createvm .description {
  grid-row: 2;
  line-height: 60px;
  color: #3a8ace;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 2%;
  padding-left: 0;
}

.createvm #buttonVm {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: #58b952;
  color: white;
  border-radius: 4px;
}

.loading {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  min-height: 280px;
  align-items: center;
}

.loading p {
  font-family: "Raleway";
  font-size: 1.6rem;
}

/* S E P A R A T I O N */
/* Small View */
@media screen and (max-width: 37.5em) {
  .createvm .container {
    margin: 0;
    border-radius: 0;
    padding: 0px 5px;
    height: 100vh;
    width: 100vw;
  }
  .createvm .lets {
    font-size: 1.2em;
    margin-top: 7px;
  }
  .createvm .body {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
  }

  .createvm .material {
    font-size: 65px;
  }

  .createvm .description {
    line-height: unset;
    padding-top: 0;
    margin-top: 25px;
    font-size: 1.05em;
    margin-bottom: 16px;
  }

  .createvm #course {
    height: 33px;
    margin-bottom: 20px;
    max-width: 280px;
  }

  .createvm .description {
    margin-top: 30px;
  }

  .createvm #buttonVm {
    height: 40px;
    max-width: 280px;
  }

  .createvm #buttonVm:hover {
    cursor: pointer;
    opacity: 95%;
  }
  .createvm .main {
    min-width: 275px;
  }
}

/* Medium View */
@media only screen and (min-width: 37.5em) {
  .createvm .lets {
    margin-top: 50px;
  }

  .createvm .container {
    min-height: unset;
    width: 90%;
  }
}

/* Large View */
@media only screen and (min-width: 64em) {
}
