/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */
/* body {
  font-family: 'Raleway';
}

p {
  margin: 0px;
} */

.success .title {
  font-size: 1.5em;
  color: #006eb6;
  margin: 10px;
}

.success .created {
  font-size: 1.5rem;
  padding: 0px;
  margin: 10px;
}

.success .click {
  padding: 0px;
  opacity: 50%;
  margin: 0px 0px 10px 0px;
}

.success #button {
  padding: 30px;
  border: none;
  border-radius: 8px;
  width: 220px;
  height: 75px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient( 0deg,  hsl(204deg 100% 36%) 41%, 
                                            hsl(208deg 66% 44%) 61%, 
                                            hsl(210deg 54% 48%) 70%, 
                                            hsl(212deg 49% 52%) 77%, 
                                            hsl(213deg 49% 55%) 82%, 
                                            hsl(214deg 48% 58%) 86%, 
                                            hsl(215deg 48% 61%) 89%, 
                                            hsl(215deg 47% 64%) 91%, 
                                            hsl(216deg 47% 67%) 93%, 
                                            hsl(216deg 47% 69%) 95%, 
                                            hsl(217deg 47% 72%) 96%, 
                                            hsl(217deg 47% 75%) 97%, 
                                            hsl(218deg 47% 77%) 98%)
}

.success #button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .success #button:hover, .success #button:focus, .success #button:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }



.success .newVm {
  margin: 20px;
  font-size: 1.2rem;
  color: #006eb6;
}

.success .newVm:hover{
  cursor: pointer;
  color: #006e;
  letter-spacing: .2px;
  transition: 0.3s;
}

/* .success .newVm:hover::after {
  transition: 0.3s;
} */

.success .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.success .iconPlaceholder {
  height: 100px;
  width: 100px;
  background: limegreen;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success .checkicon{
  font-size: 50px;
  color: white;
}

.success .goToVm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
    margin: 0;
  }
  
  .success .container {
    width: 1000px;
    background-color: white;
    border-radius: 50px;
    background-image: url("/public/images/background.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: -10%;
    background-position-y: 110%;
    margin: 50px auto;
  }
  
  /* .success button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 34px;
    float: left;
    padding-left: 20px;
    border: transparent;
  } */

  
  /* Medium View */
  @media only screen and (min-width: 37.5em) {
  }
  
  /* Large View */
  @media only screen and (min-width: 64em) {
  }