/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */
* {
    margin: 0;
  }
  
  .success .container {
    width: 1000px;
    background-color: white;
    height: 500px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 25% 70%;
    background-image: url("/public/images/background.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: -10%;
    background-position-y: 110%;
    margin: 50px auto;
  }
  
  .success .header {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  
  .success h1 {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 49px;
  }
  
  .success .logo {
    width: 150px;
    display: flex;
    padding-left: 50px;
    margin-top: 50px;
    grid-row: 1/2;
  }
  .success button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 34px;
    float: left;
    padding-left: 20px;
    border: transparent;
  }

  
  /* Medium View */
  @media only screen and (min-width: 37.5em) {
  }
  
  /* Large View */
  @media only screen and (min-width: 64em) {
  }