/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */

body {
  background-color: #006eb6;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
div.container {
  max-width: 500px;
  width: 80%;
  background-color: white; 
  text-align: center;
  /* box-shadow: 5px 5px 5px black; */
  border-radius: 5px;
  padding: 15px;
  margin-top: 50px;
}


div.g-signin2 {
  margin: 15px;
}
div 
{
  display: block;
  margin: auto auto;

}

form {
  text-align: center;
}

form .data {
  text-align: left;
  width: 90%;
}

label {
  padding: 12px 0 10px;
  display: inline-block;
  margin: 0.7%;
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

input,
textarea,
select#semester,
#vm_dropDown
{
  width: 100%;
}

input {
  padding: 8px 0;
}

textarea {
  padding: 10px 8px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
}

.submitBt {
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  border-radius: 7px;
  display: block;
}

.btn-primary {
  background-color: #006eb6 !important;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  /* border-radius: 6px; */
}
input:required {
  border-left: red solid 8px;
}
input:required:valid {
  border-left: green solid 8px;
}

form .semester  {
  /* margin-top: 5px; */
  display: block;
  padding: 0px;
  margin: 5px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #006eb6;
  color: white;
  border-radius: 6px 6px 0 0;
}

.fa {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.fa .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #8dd3ee;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 9px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -85px;
}
.fa .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #8dd3ee transparent transparent transparent;
}
.fa .show {
  visibility: visible;
}
th, td, p, input, h3 {
  font:15px 'Segoe UI';
}
table, th, td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight:bold;
}

/* animation*/


.area{
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  /* height:100vh; */
  
}

.circles{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


/* Medium View */
@media only screen and (min-width: 37.5em) {
  div.container {
    width: 60%;
  }
  .submitBt {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    border-radius: 7px;
    display: block;
  }

  form .data {
    width: 60%;
  }
}

/* Large View */
@media only screen and (min-width: 64em) {
  form .data {
  }
  
}
