body {
  margin: 0;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu-bars {
  color: #006eb6;
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}

/* .menu-bars:nth-child(2) {
  margin-right: 1px !important;
} */

.nav-menu {
  background-color: #060b26;
  width: 220px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 100%;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
  z-index: 1;
}

.nav-text {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px 0 8px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 4px;
  cursor: pointer;
}

.nav-text a:hover {
  opacity: 70%;
  color: aqua;
}

.nav-menu-items {
  width: 100%;
  padding: 0px 15px 40px 15px;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}
