/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/
.addclass body {
  background-color: #006eb6;
  font-family: "Raleway", sans-serif;
}

.addclass .container {
  max-width: 1000px;
  background-color: white;
  margin: 130px auto;
  border-radius: 50px;
  column-gap: 10%;
  padding-top: 10px;
  padding-bottom: 70px;
  min-height: 500px;
}

.addclass h1 {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
  color: #337ab7;
}

.addclass .form {
  gap: 0.5em;
  margin: 5%;
  margin-top: -5%;
}

/* .addclass .a {
  padding: 10px;
  align-self: center;
} */

.addclass .flex1 {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 45%;
  flex-direction: column;
  justify-content: center;
}
.addclass .flex2 {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
}
.addclass .courseIdInput {
  border-radius: 10px;
  /* width: 91%; */
}
.addclass .select {
  border-radius: 10px;
  width: 100%;
}
.addclass .validation {
  color: #ff0000;
  text-align: left;
}
.addclass .input:valid {
  border: 2px solid rgba(0, 0, 0, 10%);
}
.addclass input {
  width: 93.5%;
  border: 3px solid #3d8ac9;
  padding: 10px 10px;
  margin-top: 10px;
  position: relative;
}
/* .addclass .courseIdInput {
  
  width: 38%;
} */
.addclass .alertButton {
  border: none;
}
.addclass .alertButton:hover {
  color: blue;
  cursor: pointer;
}

.addclass .label {
  font-size: 1rem;
  font-weight: bold;
  color: #3d8ac9;
}

.addclass .alertLabel {
  font-weight: bold;
  opacity: 65%;
}

.addclass select {
  width: 100%;
  border: 3px solid #3d8ac9;
  padding: 0.7rem;
  margin-top: 8px;
}

.addclass .btnprimary {
  background-color: #58b952;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 20%;
  border-radius: 10px;
}
.addclass .btnprimary:disabled {
  background-color: gray;
  color: white;
}

.addclass .btnprimary:hover {
  cursor: pointer;
  background-color: #3d8ac9;
}

.addclass #nameError {
  display: none;
  font-size: 0.8em;
}
.addclass #nameError.visible {
  display: block;
}
.addclass input.invalid {
  border-color: red;
}

/* -------------------------------------------------------- */

/* S M A L L   V I E W */
@media screen and (max-width: 37.4em) {
  .addclass .wrapper {
    margin-top: 32px;
  }

  .addclass .container {
    margin: 0px;
    border-radius: 0px;
    padding: 0 5px;
    height: 100vh;
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addclass .table {
    display: block;
  }
  .addclass h1 {
    font-size: 30px;
    padding: 0px 15px;
    margin-bottom: 60px;
  }

  .addclass .form {
    width: 75vw;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .addclass .flex1 {
    width: 100%;
  }
  .addclass .flex2 {
    width: 100%;
  }
  .addclass .form select {
    font-size: 1rem;
    width: 100%;
  }
  .addclass .courseIdInput {
    font-size: 1rem;
    width: 91%;
  }
  .addclass .btnprimary {
    width: 50%;
    height: 5%;
    font-size: 20px;
    cursor: pointer;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
  }

  .addclass .alert {
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }

  .addclass .alert a:visited {
    color: #006eb6;
  }

  .addclass .alertLabel {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 25px 0px;
  }
}

/* -------------------------------------------------------- */

/* M E D I U M   V I E W */
@media only screen and (min-width: 37.5em) {
  .addclass .form {
    padding: 5%;
    gap: 60px;
    display: grid;
    grid-template-columns: 0.75fr 0.75fr;
  }

  .addclass .flex1 {
    width: 100%;
  }

  .addclass .flex2 {
    margin-top: 0;
  }

  .addclass .container {
    min-height: unset;
    width: 95%;
  }

  .addclass .wrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  /* Popup style */
  .addclass .popupbox {
    position: fixed;
    background: #0000007b;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .addclass .box {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid #999;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  .addClass h3 {
    text-align: center;
    padding-top: 30px;
    width: 100%;
    font-weight: bold;
  }
  .addclass .confluence {
    border-radius: 3px;
    position: relative;
    padding: 15px;
    border: none;
    background-color: #006eb6;
    align-self: center;
    color: white;
    transition: 0.3s;
  }
  .addclass .confluence:hover {
    border-color: #006eb6;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
    box-shadow: 2px 4px 8px 2px #0000007b;
  }
  .addclass .back {
    background-color: #006eb6;
  }

  .addclass .closeicon {
    content: "x";
    cursor: pointer;
    position: relative;
    background: #ededed;
    width: 20px;
    height: 19px;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
    border: 3px solid white;
    font-size: 20px;
    align-self: flex-end;
    transition: 0.3s;
  }

  .addclass .singleDiv {
    margin-top: 10px;
  }
}

/* -------------------------------------------------------- */

/* L A R G E   V I E W */
@media screen and (min-width: 64em) {
  .addclass .wrapper {
    display: flex;
    flex-direction: column;
  }
}
