.addvm body {
  margin: 0 auto;
}

.addvm,
.addvm .headerText {
  color: #2e5b9a;
  font-family: "Raleway", sans-serif;
}

.addvm .flexbox {
  padding: 1rem;
}

.addvm .templates input[type="radio"] {
  opacity: 0;
  cursor: pointer;
}

.addvm .uncheckedCheckmark {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #337ab7;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}

.addvm .checkedCheckmark {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #337ab7;
  border-radius: 50%;
  border: 2px solid #337ab7;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}

.addvm .checkedCheckmark::after {
  content: "";
  position: absolute;
}

.addvm .checkedCheckmark::after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.addvm .headerText {
  font-size: 1.4rem;
}

.addvm .templateOptionsContainer {
  padding: 1rem 0rem;
}

.addvm .templateOptionsContainer .templates {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.addvm .templateOptionsContainer div input {
  display: block;
}

.addvm h1 {
  text-align: center;
  padding: 20px 50px;
}

.addvm .container {
  width: 1000px;
  background-image: none;
  background-color: white;
  margin: 50px auto;
  border-radius: 50px;
  height: fit-content;
  padding-top: 15px;
}

.addvm .content {
  background-color: #f0f0f0;
  width: 800px;
  gap: 10px;
  padding: 35px 25px;
  margin: auto auto;
  margin-bottom: 20px;
  /* height: fit-content; */
}

.addvm .folder {
  width: 100%;
}

.addvm .contentLibrary {
  width: 100%;
}

.addvm .contentLibrary label {
  display: block;
}

.addvm .contentLibrary input {
  width: 48%;
  height: 2rem;
  border: 4px solid #98d5fd;
  background-color: white;
  color: #747272;
  font-family: "Raleway", sans-serif;
  padding-left: 1rem;
}

.addvm .chooseVm {
  width: 100%;
  padding: 1rem 0rem;
}

.addvm label {
  margin-top: 5px;
  cursor: pointer;
}

.addvm select {
  width: 100%;
  border: 3px solid #98d5fd;
  padding: 15px;
  margin-top: 10px;
}

.addvm .vm {
  width: 20px;
}

.addvm .canvasToken {
  padding-bottom: 0.5em;
}

.addvm #more {
  border: none;
  background-color: white;
}

/*modal */
.addvm .modalForTemplate {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.addvm .closeModal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.addvm span {
  cursor: pointer;
  justify-content: flex-end;
  margin-right: -1rem;
  margin-top: -1rem;
}

.addvm .modalcontent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.addvm #open {
  background-color: #3a8ace;
  width: 175px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-left: 40%;
  padding: 10px;
  color: white;
  border: none;
  font-weight: 700;
}

.addvm #addmore {
  background-color: blue;
}

.addvm #submitAddTemplates {
  margin: 0.5em;
}

.addvm .materialicons {
  color: #006eb6;
  text-align: left;
}

.addvm textarea {
  width: 50%;
}

.addvm .addTemplateVm {
  width: 50px;
}

/* S E P A R A T I O N */

/* Small View */
@media screen and (max-width: 37.5em) {
  .addvm .header {
    width: 90vw;
    max-width: 800px !important;
  }
  .addvm .container {
    margin: 0;
    padding-top: 0 !important;
    width: unset;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
  }

  .addvm h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 5px 0px 30px 0px;
  }

  .addvm .content {
    width: unset;
    padding: 0;
    margin: 0px 0px 0px 15px;
    background-color: white;
  }

  .addvm .headerText {
    font-size: 1rem;
  }

  .addvm #open {
    margin: 20px 0px;
  }

  .addvm .contentLibrary {
    background-color: white;
  }

  .addvm .chooseVm {
    background-color: white;
  }

  .addvm .flexbox {
    padding: 0;
  }

  .addvm #contentLibrary {
    width: unset;
    padding-left: 0;
  }

  .addvm #open {
    margin: 10px 0px 25px 0px;
    width: 100%;
    /* background-color: white; */
  }
}

/* Medium View */
@media only screen and (min-width: 37.5em) {
  .addvm .container {
    width: 95vw;
    max-width: 1000px;
  }

  .addvm .content {
    padding: 0px 25px;
    width: unset;
    border-radius: 50px;
  }
}

/* Large View */
@media only screen and (min-width: 64em) {
  .addvm .content {
    max-width: 580px;
    padding: 25px 50px;
  }
}
