.classSkeleton {
  width: 100%;
}

.classSkeleton div {
  display: grid;
  margin: 20px 0;
}

.classSkeleton .button {
  justify-self: center;
}

@media screen and (min-width: 37.5rem) {
  .classSkeleton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}
