.dblibrarytemplates {
  /* padding: 1.5rem 0; */
}

.dblibrarytemplates .templateFlexContainer {
  /* display: flex; */
}

.dblibrarytemplates .templateFlexContainer > div {
  /* flex-grow: 1;
  margin-bottom: 1rem; */
}

.dblibrarytemplates .templateFlexContainer > div:first-child {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 15px;
}

.dblibrarytemplates .templateFlexContainer > div:nth-child(2){
  font-weight: normal;
  font-size: 15px;
}
