/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

/* Small View */

.facultydashboard .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 25px;
}

.facultydashboard .professorpermissions {
  background: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  max-width: 250px;
  padding: 5px 0px;
  cursor: pointer;
}

.facultydashboard .tableHeader {
  border-radius: 8px 8px 0px 0px;
}

.facultydashboard .professorpermissions:hover {
  opacity: 95%;
}

.facultydashboard .permissionsbutton {
  background-color: transparent;
  color: white;
  font-size: 15px;
  text-decoration: none;
  border: transparent;
  cursor: pointer;
  height: 100%;
}

* {
  margin: 0;
}

.facultydashboard #singleContainer:hover {
  cursor: pointer;
}

.facultydashboard .material:hover {
  cursor: pointer;
}
.facultydashboard .material p {
  display: inline;
  color: white;
  padding: 10px;
  font-family: "Raleway";
  font-size: 1.7rem;
  font-weight: bold;
}
.facultydashboard .button:hover {
  cursor: pointer;
}

.facultydashboard div {
  margin: 0;
}

.facultydashboard .container {
  background-color: white;
  /* margin-top: 50px; */
  height: 500px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 25% 70%;
  background-image: url("/public/images/background.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: -10%;
  background-position-y: 110%;
  margin: 50px auto;
}

.facultydashboard .header {
  margin: 0;
}

.facultydashboard .main {
  margin: 0;
}

.facultydashboard h1 {
  grid-row: 2/3;
  grid-column: 1/2;
  padding-left: 49px;
}

.facultydashboard .logo {
  width: 150px;
  display: flex;
  padding-left: 50px;
  margin-top: 50px;
  grid-row: 1/2;
}

.facultydashboard #name0fProfessor {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 40px;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 50px;
  color: black;
}

.facultydashboard #name0fProfessor span {
  font-weight: bold;
}

.facultydashboard #greeting {
  font-family: "Raleway", sans-serif;
  /* font-weight: 200; */
  /* text-align: left; */
  font-size: 20px;
  padding-top: 45px;
  padding-left: 50px;
  color: black;
  grid-column: 1/2;
  grid-row: 2/3;
}

.facultydashboard .professorgrid {
  grid-column: 2/3;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 8% 60% 30%;
  margin: auto 25px;
}

.facultydashboard .materialicons {
  grid-column: 1/2;
  color: #006eb6;
  text-align: left;
  font-size: 50px;
}

.facultydashboard #welcome {
  grid-column: 2/3;
  color: #006eb6;
  font-size: 1.1em;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
}

.facultydashboard .signOut {
  grid-column: 3/4;
  background-color: transparent;
  color: #006eb6;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  border: #006eb6 1px solid;
  padding: 0;
  margin-left: 5px;
  font-size: 15px;
}

.facultydashboard .signOut:hover {
  background-color: #006eb6;
  color: white;
}

.facultydashboard .permissionsbutton {
  background-color: transparent;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding-top: 34px;
  float: left;
  border: transparent;
}

.facultydashboard .add_professor {
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  grid-column: 2/3;
  background-color: #3a8ace;
  color: white;
  grid-row: 2/3;
  margin-left: 50px;
  margin-top: 130px;
}

.facultydashboard .add_professor:hover {
  background-color: #022d53;
}

.facultydashboard .add_professor span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
}

.facultydashboard .add_class {
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #5bbcfb;
  color: white;
  grid-row: 2/3;
  margin-top: 15px;
  margin-left: 50px;
}

.facultydashboard .add_class:hover {
  background-color: #022d53;
}

.facultydashboard .add_class span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
}

.facultydashboard .vm_utilization {
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #1a63a1;
  color: white;
  margin-top: 245px;
  margin-left: 50px;
}

.facultydashboard .vm_utilization:hover {
  background-color: #022d53;
}

.facultydashboard .vm_utilization span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
}

.facultydashboard .vm_utilization a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 30px;
  float: left;
  padding-left: 20px;
}

.facultydashboard .material p {
  font-size: 1.2rem;
}

/* S E P A R A T I O N */

/* Small View */
@media screen and (max-width: 37.5em) {
  .facultydashboard .text {
    margin-left: 24px;
  }

  .facultydashboard #greeting {
    padding-left: 0px !important;
  }

  .facultydashboard .professorpermissions {
    background: white;
    position: absolute;
    bottom: 8vh;
  }

  .facultydashboard h1 {
    padding-left: 0;
  }

  .facultydashboard .button {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 17px;
  }
  .facultydashboard .container {
    border-radius: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .facultydashboard #greeting {
    margin-top: 10px;
    font-size: 17px;
    padding-top: 0px;
    padding-left: 0;
  }
  .facultydashboard .text {
    margin: 25px 0px;
  }

  .facultydashboard .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0 !important;
  }

  .facultydashboard #singleContainer {
    height: 45px;
    border-radius: 7px;
    width: 73vw;
    margin: 15px 0px 0px 0px;
    max-width: 250px;
    min-width: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .facultydashboard #singleContainer:hover {
    cursor: pointer;
  }
  .facultydashboard .material:hover {
    cursor: pointer;
  }
  .facultydashboard .button:hover {
    cursor: pointer;
  }

  .facultydashboard .material {
    padding-top: 0px !important;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
  }

  .facultydashboard .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .facultydashboard .icon {
    display: none !important;
  }
}

/* Medium View */
@media only screen and (min-width: 37.5em) {
  .facultydashboard .permissionsbutton {
    padding-top: 0;
  }

  .facultydashboard .left {
    height: 380px;
    margin-left: 0px;
  }

  .facultydashboard .container {
    display: flex;
    flex-direction: column;
  }

  .facultydashboard .main {
    display: flex;
    justify-content: space-between;
  }

  .facultydashboard .buttons {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  .facultydashboard #singleContainer {
    margin-top: 20px;
  }

  .facultydashboard .text {
    display: flex;
    flex-direction: column;
  }

  .facultydashboard #greeting {
    font-size: 1em;
    padding-top: 8px;
  }

  .facultydashboard h1 {
    margin-top: 50px;
    font-size: 2.6em;
  }

  .facultydashboard .material {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 55px;
    padding: 0 !important;
  }

  .facultydashboard #singleContainer {
    display: flex;
    align-items: center;
  }

  .facultydashboard .buttons {
    padding-right: 0 !important;
  }
}

/* Large View */
@media only screen and (min-width: 64em) {
  .facultydashboard .container {
    width: 1000px;
  }
  .facultydashboard #greeting {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    text-align: left;
    font-size: 20px;
    padding-top: 45px;
    padding-left: 50px;
    color: black;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  /* .facultydashboard .icon {
    display: none !important;
  } */

  .facultydashboard .professorgrid {
    grid-column: 2/3;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 8% 60% 30%;
    margin: auto 25px;
  }

  .facultydashboard .materialicons {
    grid-column: 1/2;
    color: #006eb6;
    text-align: left;
    font-size: 50px;
  }

  .facultydashboard .material {
    padding-left: 20px !important;
    margin-left: 0px !important;
  }

  .facultydashboard #welcome {
    grid-column: 2/3;
    color: #006eb6;
    font-size: 1.1em;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
  }

  .facultydashboard .signOut {
    grid-column: 3/4;
    background-color: transparent;
    color: #006eb6;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: #006eb6 1px solid;
    padding: 0;
    margin-left: 5px;
    font-size: 15px;
  }

  .facultydashboard .signOut:hover {
    background-color: #006eb6;
    color: white;
  }
  .facultydashboard .buttontitle {
    color: white;
  }
  .facultydashboard .add_professor {
    font-size: 20px;
    float: left;
    width: 300px;
    height: 90px;
    border-radius: 7px 0px 0px 7px;
    grid-column: 2/3;
    background-color: #3a8ace;
    color: white;
    grid-row: 2/3;
    margin-left: 50px;
    margin-top: 130px;
  }

  .facultydashboard .add_professor:hover {
    background-color: #022d53;
  }

  .facultydashboard .add_professor span {
    color: white;
    font-size: 40px;
    float: left;
    padding-left: 40px;
    padding-top: 20px;
  }

  .facultydashboard .myClasses {
    font-size: 20px;
    float: left;
    width: 300px;
    height: 90px;
    border-radius: 7px 0px 0px 7px;
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #5bbcfb;
    color: white;
    grid-row: 2/3;
    margin-top: 15px;
    margin-left: 50px;
  }

  .facultydashboard .myClasses:hover {
    background-color: #022d53;
  }

  .facultydashboard .myClasses span {
    color: white;
    font-size: 40px;
    float: left;
    padding-left: 40px;
    padding-top: 20px;
  }

  .facultydashboard .vm_utilization {
    font-size: 20px;
    float: left;
    width: 300px;
    height: 90px;
    border-radius: 7px 0px 0px 7px;
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #1a63a1;
    color: white;
    margin-top: 245px;
    margin-left: 50px;
  }

  .facultydashboard .vm_utilization:hover {
    background-color: #022d53;
  }

  .facultydashboard .vm_utilization span {
    color: white;
    font-size: 40px;
    float: left;
    padding-left: 40px;
    padding-top: 20px;
  }

  .facultydashboard .vm_utilization a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 30px;
    float: left;
    padding-left: 20px;
  }
}
