/* BYUI Color Guide
BYUI blue: #006EB6
black: #000000
white: #FFFFFF
https://www.byui.edu/branding/color-guide
*/

.facultydashboard .container {
  background-color: white;
  height: 500px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 25% 70%;
  background-image: url("/public/images/background.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: -10%;
  background-position-y: 110%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 130px auto;
  max-width: 1000px;
}

.facultydashboard .professorpermissions {
  background: #58B952;
  height: 40px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  max-width: 250px;
  padding: 5px 0px;
  cursor: default;
}

.facultydashboard .professorpermissions:hover {
  opacity: 95%;
}

.facultydashboard .permissionsbutton {
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: transparent;
  cursor: default;
  height: 100%;
}

.facultydashboard #singleContainer:hover {
  cursor: pointer;
}

.facultydashboard .material:hover {
  cursor: pointer;
}

.facultydashboard .button {
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-top: 2px;
  float: left;
  padding-left: 20px;
  border: transparent;
}

.facultydashboard .button:hover {
  cursor: pointer;
}

.facultydashboard .professorgrid {
  grid-column: 2/3;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 8% 60% 30%;
  margin: auto 25px;
}

.facultydashboard .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facultydashboard h1 {
  grid-row: 2/3;
  grid-column: 1/2;
  padding-left: 49px;
}

.facultydashboard .logo {
  width: 150px;
  display: flex;
  padding-left: 50px;
  margin-top: 50px;
  grid-row: 1/2;
}

.facultydashboard #nameOfProfessor {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 40px;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 50px;
  color: black;
}

.facultydashboard #nameOfProfessor span {
  font-weight: bold;
}

.facultydashboard #greeting {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 50px;
  color: black;
  grid-column: 1/2;
  grid-row: 2/3;
}

.facultydashboard .add_class {
  font-size: 20px;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  grid-column: 2/3;
  background-color: #5bbcfb;
  color: white;
  grid-row: 2/3;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 50px;
}

.facultydashboard .add_class:hover {
  background-color: #022d53;
}

.facultydashboard .add_class span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.facultydashboard .add_professor {
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #3a8ace;
  color: white;
  margin-right: 0px;
  margin-left: 50px;
  margin-top: 130px;
}

.facultydashboard .add_professor:hover {
  background-color: #022d53;
}

.facultydashboard .add_professor span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.facultydashboard .vm_utilization {
  font-size: 20px;
  float: left;
  width: 300px;
  height: 90px;
  border-radius: 7px 0px 0px 7px;
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #1a63a1;
  color: white;
  margin-top: 245px;
  margin-right: 0px;
  margin-left: 50px;
}

.facultydashboard .vm_utilization a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 30px;
  float: left;
  padding-left: 20px;
}

.facultydashboard .vm_utilization:hover {
  background-color: #022d53;
}

.facultydashboard .vm_utilization span {
  color: white;
  font-size: 40px;
  float: left;
  padding-left: 40px;
  padding-top: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* -------------------------------------------------------- */

/* S M A L L   V I E W */
@media screen and (max-width: 37.5em) {
  .facultydashboard .container {
    padding: 0px 20px;
    border-radius: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: none;
    background-color: white;
  }

  .facultydashboard .professorpermissions {
    background: #E0FDDE;
    border-radius: 0px;
    position: relative;
    top: 170%;
    cursor: default;
    margin: auto;
    width: 100%;
  }

  .facultydashboard .permissionsbutton {
    cursor: default;
    font-weight: normal;
    color: #58B952;
  }

  .facultydashboard #nameOfProfessor {
    font-size: 25px;
    padding-left: 0px;
    width: 100%;
  }

  .facultydashboard h1 {
    padding-left: 0;
  }


  .facultydashboard #greeting {
    margin-top: 10px;
    font-size: 17px;
    margin-left: -10px;
  }

  .facultydashboard .text {
    margin: 25px 0px;
    
  }

  .facultydashboard .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-top: -50px;
  }

  .facultydashboard .button {
    margin-top: 6px;
  }

  .facultydashboard .add_class span {
    padding-top: 17px;
  }

  .facultydashboard .add_professor span {
    padding-top: 17px;
  }

  .facultydashboard .vm_utilization span {
    padding-top: 17px;
  }

  .facultydashboard #singleContainer {
    height: 45px;
    border-radius: 7px;
    width: 73vw;
    margin-top: 25px;
    margin-left: 0px;
    display: flex;
    max-width: 250px;
    min-width: 185px;
  }

  .facultydashboard #singleContainer:hover {
    cursor: pointer;
  }

  .facultydashboard .material {
    margin-bottom: 10px;
    margin-top: -10px;
    margin-right: -15px;
  }

  .facultydashboard .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    height: 75%;
    font-size: var(--boldlabelfontsize);
    border-radius: 10px;
}


}

/* -------------------------------------------------------- */

/* M E D I U M   V I E W */
@media only screen and (min-width: 37.5em) {
  p {
    padding-left: 10px;
  }

  .facultydashboard .professorpermissions {
    position: unset;
    bottom: unset;
  }

  .facultydashboard .container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .facultydashboard .main {
    display: flex;
    justify-content: space-between;
  }

  .facultydashboard .buttons {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .facultydashboard .button {
    font-size: 18px;
    width: 50%;
    padding-left: 0px;
  }

  .facultydashboard #singleContainer {
    margin-top: 20px;
    display: flex;
  }

  .facultydashboard .text {
    display: flex;
    flex-direction: column;
  }

  .facultydashboard #greeting {
    font-size: 18px;
    padding-top: 8px;
  }

  .facultydashboard h1 {
    margin-top: 50px;
    font-size: 1.9em;
  }
}

/* -------------------------------------------------------- */

/* L A R G E   V I E W */
@media only screen and (min-width: 64em) {
  .facultydashboard .container {
    width: 1000px;
  }
  .facultydashboard #greeting {
    font-size: 21px;
  }

  .facultydashboard h1 {
    margin-top: 50px;
    font-size: 2.3em;
  }

  .facultydashboard .text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  .facultydashboard .buttons {
    display: flex;
    flex-direction: column;
  }

  .facultydashboard .button {
    font-size: 22px;
    width: 100%;
    padding-left: 0px;
  }
}
