.body {
  font-family: "Raleway", sans-serif;
}
.myclasses .container {
  max-width: 1000px;
  background-color: white;
  margin: 130px auto;
  border-radius: 50px;
  column-gap: 10%;
  padding-top: 10px;
  padding-bottom: 50px;
  min-height: 500px;
}

.myclasses #backbtn {
  display: flex;
  color: #3D8AC9;
  margin-left: 65px;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-family: "Raleway";
}
.myclasses h1 {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
  color:#337AB7;
}

.myclasses #classesAndSearch {
  display: flex;
  width: 800px;
  padding-left: 2%;
  padding: 20px;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  align-items: center;
}

/* .myclasses .label {
  padding-left: 40px;
} */

.myclasses .lets {
  width: 800px;
  margin: 0px 10px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0px;
}

.myclasses .searchbar {
  margin: 0px 50px 0px 50px;
  border: 1px solid #ffffff;
  background-color: #006eb6;
  height: 30px;
  width: 300px;
  padding: 0px 9px;
  display: flex;
  align-items: center;
}

.myclasses #search {
  font-family: "Raleway", sans-serif;
  background-color: #006eb6;
  border: none;
  margin-left: 3px;
}

.myclasses #search::placeholder {
  color: #ffffff;
  background-color: #006eb6;
  opacity: 80%;
}

.myclasses #search:focus,
textarea:focus,
select:focus {
  outline: none;
  caret-color: auto;
  color: transparent;
  color: currentColor;
}

.myclasses #search:focus::-webkit-input-placeholder {
  opacity: 0;
}

.myclasses #search:focus::-moz-placeholder {
  opacity: 0;
}

.myclasses #search:focus:-ms-input-placeholder {
  opacity: 0;
}

.myclasses #search:focus:-moz-placeholder {
  opacity: 0;
}
.myclasses .vmName {
  color: #004878;
  padding: 10px;
}
.myclasses .noclasses p {
  text-align: center;
  margin: 0 auto;
  padding: 0 ;
}
.myclasses .noclasses{
  text-align: center ;
  
}
.myclasses .noclassicon{
  color: gray;
}
.myclasses .semester {
  float: right;
  padding: 10px;
}

.myclasses .MyClasscontainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid var(--secondarycolor);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* border-collapse: collapse; */
}

.myclasses .MyClasstableheader {
  display: flex;
  flex-direction: row;
  background-color: var(--secondarycolor);
  text-align: center;
  justify-content: space-around;
}

.myclasses .MyClasstableheader th {
  margin: 0 auto;
  padding: 10px;
  padding-left: 60px;
  padding-right: 100px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.myclasses .submitBt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  color: white;
  background-color: var(--successcolor);
  padding: 15px;
  gap: 10px;
  width: 211px;
  height: 58px;
  border-radius: 10px;
  border: transparent;
  font-size: 25px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.myclasses .submitBt:hover {
  cursor: pointer;
  background-color: #3D8AC9;
}

.myclasses .select {
  border-radius: 5px;
  border: 2px solid #3D8AC9;
  width: 50%;
  margin: 50px;
  padding: 8px;
  margin-top: 8px;
  margin-left: 30px;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  color: var(--secondarycolor)
}

.myclasses .singleDiv {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.myclasses .table {
  gap: 0.5em;
  margin: 5%;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

/* .myclasses .card {
  width: 45%;
  border-radius: 10px;
} */

/* 
.myclasses .tableheader {
  background-color: #3D8AC9;
  color: white;
  padding: 12px;
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 20px;
} */


/* .myclasses .tablecontent {
  padding: 20px;
  font-family: "Raleway";
  font-weight: bold;
  margin: auto;
  text-align: center;
} */

/* .myclasses .tablecontent span {
  float: right;
} */

.myclasses .tablerow {
  padding: 1em;
  color: #004878;
}

.myclasses .conf_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  font-size: 17px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* 
desktop: 1200px
laptop: 992px
tablet: 768px
phone: 480px
*/

/* -------------------------------------------------------- */

/* S M A L L   V I E W */
@media screen and (max-width: 37.4em) {
  .header {
    background-color: black;
  }
  .myclasses .container {
    margin: 0px;
    border-radius: 0px;
    padding: 0px 5px;
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .myclasses .singleDiv {
    margin: auto;
    width: 100%;
  }
  .myclasses .title {
    padding: 0;
    font-size: 30px;
    margin-top: 32px;
    margin-bottom: 48px;
    font-family: "Raleway", sans-serif;
    color: black;
  }

  .myclasses h1 {
    font-size: 30px;
    padding: 0px 15px;
    margin-bottom: 60px;
  }

  .myclasses .card {
    width: 100%;
    align-self: center;
    border-radius: 10px;
  }
  .myclasses .select {
   margin: auto;
   margin-bottom: 20px;
   width: 100%;
  }
  .myclasses .table {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0;
  }
  
  .myclasses .submitBt {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 165px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    cursor: pointer;
  }
  
  .myclasses .searchbar {
    margin: 0;
    max-width: 300px;
    min-width: 152px;
  }

  .myclasses #search {
    width: 60vw;
    max-width: 300px;
    min-width: 152px;
  }

  .myclasses #classesAndSearch {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 50px;
    align-items: center;
    width: unset;
  }

  .myclasses .tablecontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .myclasses .add {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .myclasses .addbutton {
    width: 100%;
  }

  .myclasses .tablegrid {
    width: 50%;
    align-items: center;
    margin: auto ;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .myclasses .myclasses {
    margin-right: 0 !important;
  }
}

/* -------------------------------------------------------- */

/* M E D I U M   V I E W */
@media only screen and (min-width: 37.5em) {
  .myclasses .card {
    border-radius: 10px;
  }
  .myclasses .container {
    min-height: unset;
    width: 95%;
  }
  
  .myclasses #classesAndSearch {
    width: unset;
  }
}

/* -------------------------------------------------------- */

/* L A R G E   V I E W */
@media only screen and (min-width: 64em) { 

}