 .windowsIcon,
 .ubuntuIcon,
 .debianIcon,
 .linuxIcon,
 .macIcon,
 .fedoraIcon,
 .linuxIcon {
     width: 10rem;
 }

 .vimaIcon {
     background-color: white;
     text-align: center;
        border-radius: 30px;
 }

 .vimaIcon img {
     width: 8rem;
     padding: 1rem;

 }

 /* Ubuntu Icon Style */
 .ubuntuIcon rect {
     fill: white;
 }

 .ubuntuIcon g {
     stroke: white;
     fill: black;
 }

 .ubuntuIcon>circle:nth-child(2) {
     stroke: black;
 }

 /*Windows Icon Style*/
 .windowsIcon rect {
     fill: white;
 }

 .windowsIcon path {
     fill: black;
 }

 .linuxIcon {
     background-color: white;
     border-radius: 30px;
 }