.professorList .container {
  max-width: 1000px;
  background-color: white;
  margin: 130px auto;
  border-radius: 50px;
  column-gap: 10%;
  padding-top: 10px;
  padding-bottom: 50px;
  min-height: 500px;
}

.professorList h1 {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
  color:#337AB7;
}

.professorList #backbtn {
  display: flex;
  color: #006eb6;
  margin-left: 65px;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-family: "Raleway";
}

/* .professorList .lets {
  margin: 0px 10px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0px;
} */

.professorList #table_div_h {
  max-height: 290px;
  border: 2px solid #3D8AC9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.professorList .table_div_b {
  /* overflow: hidden; */
  overflow-y: scroll;
  max-height: 290px;
  border: 2px solid #3D8AC9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.professorList #table_h {
  border-collapse: collapse;
}

.professorList #table_b {
  height: 200px;
  border-collapse: collapse;
}

.professorList th {
  background-color: #3D8AC9 ;
  color: white;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.professorList td {
  text-align: left;
  font-family: "Raleway", sans-serif;
  color: black;
}

.professorList #search_div {
  border: 2px solid #3D8AC9;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.professorList #search {
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.professorList #search::placeholder {
  color: black;
  opacity: 80%;
}

.professorList #search:focus::-webkit-input-placeholder {
  opacity: 0;
}

.professorList #search:focus::-moz-placeholder {
  opacity: 0;
}

.professorList #search:focus:-ms-input-placeholder {
  opacity: 0;
}

.professorList #search:focus:-moz-placeholder {
  opacity: 0;
}

.professorList .button {
  background-color: #3A8ACE;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  width: 20%;
  height: 8%;
  border-radius:10px;
  border: none;
}

.professorList .button:hover {
  cursor: pointer;
  background-color: #58B952;
}

.professorList .approveStatus {
  padding: 10px 15px;
  font-size: 19px;
  width: 200px;
  margin: 10px 0px;
  color: #ffffff;
  background: #58B952;
  border: none;
  border-radius: 7px;
}

.professorList .approveStatus:hover {
  cursor: pointer;
  background-color: #3D8AC9;
}

.professorList .checkMark {
  text-align: center;
  color: #58b952;
}

.professorList .popupbox {
  position: fixed;
  background: #0000007b;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.professorList .box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  border: 2px solid #999;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.professorList .h3 {
  text-align: center;
  padding: 20px;
  width: 100%;
  font-weight: bold;
}
.professorList .confluence {
  border-radius: 3px;
  padding: 12px;
  width: 100px;
  border: none;
  background-color: #3D8AC9;
  color: white;
  transition: 0.3s;
  margin: 12px;
}
.professorList .confluence:hover {
  border-color: #3D8AC9;
  cursor: pointer;
  font-size: 14px;
  transition: 0.5s;
  box-shadow: 2px 4px 8px 2px #0000007b;
}

.professorList .logo {
  width: 400px;
}

.professorList .checkbuttons {
  padding: 10px;
  width: auto;
}

/* -------------------------------------------------------- */

/* S M A L L   V I E W */
@media only screen and (max-width: 37.4em) {
  .professorList .container {
    margin: 0px;
    border-radius: 0px;
    padding: 0px 40px;
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .professorList h1 {
    font-size: 30px;
    padding: 0px 15px;
    margin-bottom: 60px;
  }

  .professorList .button {
    font-size: 1.25rem;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .professorList .lets {
    width: unset;
    margin: 0;
  }

  .professorList td {
    padding: 5px;
    font-size: .9rem;
    border-collapse: collapse;
    width: 100%;
  }

  .professorList #table_div_h {
    display: none;
  }
  
  .professorList .table_div_b {
    border-radius: 10px;
    width: 100%;
  }
  
  .professorList #table_b {
    height: 200px;
    border-collapse: collapse;
    width: 100%;
  }
 
  .professorList tbody tr {
    display: grid;
    grid-template-columns: .75fr .20fr;
    grid-template-rows: .10fr .10fr;
    padding: 10px;
    width: 100%;
  }

  /* users content -- mobile view */
  tbody tr td:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 15px;
    max-width: 80%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  /* email content -- mobile view */
  tbody tr td:nth-child(2) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    max-width: 20%;
    padding-left: 15px;
  }

  /* approved content -- mobile view */
  tbody tr td:nth-child(3) {
    max-width: 20%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: -15px;
  }

  .professorList #search_div {
    width: auto;
  }

  .professorList #search {
    width: 70%;
  }
}

/* -------------------------------------------------------- */

/* M E D I U M   V I E W */
@media only screen and (min-width: 37.4em) {
  .professorList .container {
    min-height: unset;
    width: 95%;
  }

  .professorList .backbtn {
    font-size: 1rem;
    width: 600px;
  }

  .professorList #title {
    font-size: 35px;
    margin-top: 10px;
  }

  .professorList th {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.05rem;
  }
  
  .professorList td {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: .9rem;
  }

  /* users title */
  table tr th:nth-child(1) {
    max-width: 50px;
  }

  /* users content */
  tbody tr td:nth-child(1) {
    max-width: 50px;
  }

  /* email title */
  table tr th:nth-child(2) {
    max-width: 80px;
  }

  /* email content */
  tbody tr td:nth-child(2) {
    max-width: 80px;
  }

  /* approved title */
  table tr th:nth-child(3) {
    max-width: 20px;
    text-align: center;
  }

  /* approved content */
  tbody tr td:nth-child(3) {
    max-width: 20px;
  }

  .professorList #table_div_h {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .professorList .table_div_b {
    margin-left: 10%;
    margin-right: 10%;
  }

  .professorList #table_h {
    border-collapse: collapse;
    width: 100%;
  }
  
  .professorList #table_b {
    height: 200px;
    border-collapse: collapse;
    width: 100%;
  }

  .professorList #search_div {
    margin-left: 10%;
    margin-right: 10%;
  }

  .professorList #search {
    width: 91%;
  }
}

/* -------------------------------------------------------- */

/* L A R G E   V I E W */
@media only screen and (min-width: 64em) {
  .professorList .container {
    display: flex;
    flex-direction: column;
  }
  
  .professorList th {
    padding: 10px;
    padding-left: 60px;
    padding-right: 20px;
    font-size: 1.5rem;
  }
  
  .professorList td {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1rem;
  }

  /* users title */
  table tr th:nth-child(1) {
    max-width: 100px;
  }

  /* users content */
  tbody tr td:nth-child(1) {
    max-width: 100px;
  }

  /* email title */
  table tr th:nth-child(2) {
    max-width: 150px;
  }

  /* email content */
  tbody tr td:nth-child(2) {
    max-width: 150px;
  }

  /* approved title */
  table tr th:nth-child(3) {
    max-width: 50px;
    text-align: center;
  }

  /* approved content */
  tbody tr td:nth-child(3) {
    max-width: 50px;
  }
}
