.professorList .container {
  width: 1000px;
  background-color: white;
  margin: 50px auto;
  border-radius: 50px;
  column-gap: 10%;
  background-color: #ffffff;
  padding: 10px 20px;
  align-items: center;
}

.professorList .table {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 235px;
}

.professorList #backbtn {
  display: flex;
  color: #006eb6;
  margin-left: 65px;
  cursor: pointer;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-family: "Raleway";
}

.professorList #title {
  font-size: 1.6rem;
  font-family: "Raleway";
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 0px 0px 40px 0px;
  margin: 0 auto;
  color: #004878;
  display: table;
}

.professorList #professorsAndSearch {
  display: flex;
  /* width: 800px; */
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  background-color: #006eb6;
  font-family: "Raleway", sans-serif;
  padding: 10px 0px;
  font-weight: bold;
  color: #ffffff;
  align-items: center;
}

.professorList .lets {
  /* width: 800px; */
  margin: 0px 10px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0px;
}

.professorList .searchbar {
  margin: 0px 10px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background-color: #006eb6;
  height: 30px;
  width: 455px;
  padding: 0px 9px;
  display: flex;
  align-items: center;
}

.professorList .searchbar #MGlass {
  font-size: 0.9rem;
  opacity: 80%;
}

.professorList #search {
  font-family: "Raleway", sans-serif;
  background-color: #006eb6;
  border: none;
  margin-left: 3px;
}

.professorList #search::placeholder {
  color: #ffffff;
  background-color: #006eb6;
  opacity: 80%;
}

.professorList #search:focus,
textarea:focus,
select:focus {
  outline: none;
  caret-color: auto;
  color: transparent;
  color: currentColor;
}

.professorList #search:focus::-webkit-input-placeholder {
  opacity: 0;
}

.professorList #search:focus::-moz-placeholder {
  opacity: 0;
}

.professorList #search:focus:-ms-input-placeholder {
  opacity: 0;
}

.professorList #search:focus:-moz-placeholder {
  opacity: 0;
}

.professorList table {
  height: 200px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.professorList th {
  border-bottom: 1px solid black;
  border: 2px solid #3a8ace;
  text-align: left;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  margin: 10px auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.professorList td {
  border: 2px solid #3a8ace;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  margin: 10px auto;
  font-size: 1.5rem;
  color: black;
}

.professorList .button {
  color: #ffffff;
  background: #58b952;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 15px;
  margin: 40px auto;
  width: 35%;
  border-radius: 7px;
  border: none;
  text-align: center;
  display: grid;
}

.professorList .button:hover {
  cursor: pointer;
  background-color: #006eb6;
}

.professorList #title {
  margin: 0;
  padding: 0;
}

.professorList .tableHeader {
  width: 100%;
  background: #006eb6;
  padding: 0px 10px;
  color: white;
}

.professorList .approveStatus {
  padding: 10px 15px;
  font-size: 19px;
  width: 200px;
  margin: 10px 0px;
  color: #ffffff;
  background: #58b952;
  border: none;
  border-radius: 7px;
}

.professorList .approveStatus:hover {
  cursor: pointer;
  background-color: #006eb6;
}

.professorList .checkMark {
  text-align: center;
  color: #58b952;
}

.professorList .tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.professorList .popupbox {
  position: fixed;
  background: #0000007b;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.professorList .box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  border: 2px solid #999;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.professorList .h3 {
  text-align: center;
  padding: 20px;
  width: 100%;
  font-weight: bold;
}
.professorList .confluence {
  border-radius: 3px;
  padding: 12px;
  width: 100px;
  border: none;
  background-color: #006eb6;
  color: white;
  transition: 0.3s;
  margin: 12px;
}
.professorList .confluence:hover {
  border-color: #006eb6;
  cursor: pointer;
  font-size: 14px;
  transition: 0.5s;
  box-shadow: 2px 4px 8px 2px #0000007b;
}

.professorList .logo {
  width: 400px;
}

.professorList .checkbuttons {
  padding: 10px;
  width: auto;
}


/* email title */
thead tr th:nth-child(2) {
  /* max-width: 35px; */
  font-size: 0.9rem;
}

/* email content */
tbody tr td:nth-child(2) {
  /* max-width: 35px; */
  font-size: 0.9rem;
  padding: 10px 10px 10px 10px;
}

/* approved title */
thead tr th:nth-child(3) {
  font-size: 0.9rem;
}

/* approved content */
tbody tr td:nth-child(3) {
  font-size: 0.9rem;
}

/* Small View */

@media only screen and (max-width: 37.4em) {
  /* Users first value */
  thead tr th:nth-child(1) {
    display: none;
  }

  /* email title */
  thead tr th:nth-child(2) {
    display: none;
  }

  /* email content */
  tbody tr td:nth-child(2) {
    display: none;
  }

  /* approved title */
  thead tr th:nth-child(3) {
    display: none;
  }

  /* approved content */
  tbody tr td:nth-child(3) {
    display: none;
  }

  .professorList .tableHeader {
    flex-direction: column;
    align-items: baseline;
    padding: 0px 0px 15px 0px;
  }

  .professorList .searchbar {
    max-width: 175px;
  }

  .professorList td {
    border: 2px solid #3a8ace;
    font-size: 1rem;
  }

  .professorList #title {
    margin: 0 !important;
  }
  .professorList .button {
    padding: 10px !important;
    font-size: 19px !important;
    width: 200px !important;
    margin: 10px 0px;
  }

  .professorList .lets {
    width: unset;
    margin: 0;
  }

  .professorList #professorsAndSearch {
    display: unset !important;
    color: black;
    background: white;
  }
  .professorList .container {
    border-radius: 0px;
    margin: 0;
    width: 100vw;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .professorList .table {
    height: 360px;
    overflow: hidden;
    overflow-y: scroll;
    min-width: 215px;
    max-width: 80vw;
  }
  .professorList th {
    width: 300px;
  }

  .professorList td {
    width: 300px;
  }

  .professorList #professorsAndSearch {
    display: flex;
    /* width: 80%; */
  }

  .professorList #search {
    width: 100px;
  }

  .professorList .button {
    font-size: 2rem;
    width: 60%;
  }

  .professorList #title {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  html {
    background: white;
  }
}

/* Medium View */
@media only screen and (min-width: 37.4em) {
  /* users title */
  thead tr th:nth-child(1) {
    max-width: 100px;
    font-size: 0.9rem;
  }

  /* users content */
  tbody tr td:nth-child(1) {
    max-width: 100px;
    font-size: 0.9rem;
  }

  /* approved title */
  thead tr th:nth-child(3) {
    max-width: 70px;
  }

  /* approved content */
  tbody tr td:nth-child(3) {
    max-width: 70px;
  }

  .professorList .container {
    display: flex;
    flex-direction: column;
  }

  .professorList td {
    color: #000;
  }
  .professorList #professorsAndSearch {
    max-width: 80vw;
    flex-direction: column;
    background-color: white;
  }

  .professorList .table {
    max-width: 80vw;
  }

  .professorList .tableHeader {
    /* width: 73vw !important; */
    /* max-width: 584px; */
  }

  .professorList .searchbar {
    width: unset;
    background-color: #006eb6;
  }

  .professorList .tableHeader {
    /* width: 600px; */
    padding: 0;
  }

  .professorList {
    display: flex;
  }

  .professorList #professorsAndSearch {
    display: flex;
    /* width: 530px; */
  }

  .professorList #search {
    width: 200px;
  }

  .professorList .backbtn {
    font-size: 1rem;
    width: 600px;
  }

  .professorList #title {
    font-size: 1.5rem;
    margin-top: 30px;
  }
}

/* L A R G E   V I E W */
@media only screen and (min-width: 64em) {
  .professorList #title {
    color: yellow;
  }

  .professorList .container {
    display: flex;
    flex-direction: column;
  }

  .professorList td {
    color: #000;
  }
  .professorList #professorsAndSearch {
    flex-direction: column;
    background-color: white;
  }

  .professorList table {
    width: 567px;
  }

  .professorList .searchbar {
    width: unset;
    background-color: #006eb6;
  }

  .professorList .tableHeader {
    /* width: 600px; */
    padding: 0;
  }
}
