* {
  margin: 0;
}

.utilization {
  align-items: unset;
}

.utilization .li {
  list-style: none;
  font-family: "Raleway";
}

.utilization #backbtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.utilization h1 {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
  color:#337AB7;
}

.utilization .filterContainer {
  display: flex;
}

.utilization .container {
  max-width: 1000px;
  background-color: white;
  margin: 130px auto;
  border-radius: 50px;
  column-gap: 10%;
  padding-top: 10px;
  padding-bottom: 100px;
  min-height: 500px;
}

/* .utilization .header {
  margin-top: 30px;
  grid-column: 1/3;
  width: 100%;
} */

.utilization .courseselect {
  font-size: 20px;
  display: grid;
  margin-bottom: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  margin-left: 50px;
}

.utilization label, .utilization .listHeadText {
  color: #3D8AC9;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  padding: 12px;
}

.utilization select, .utilization #search {
  margin-right: 10px;
  background-color: white;
  /* border: none; */
  border: 2px solid #3D8AC9;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  height: 35px;
  font-size: 16px;
}

.utilization h2 {
  color: #3D8AC9;
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
}

.utilization .btn {
  background-color: #6AB8E7;
  padding: 30px;
  border: none;
  border-radius: 8px;
  /* width: 220px; */
  height: 75px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.utilization .logo {
  height: 30px;
  align-self: center;
  padding: 10px;
}

.utilization .button {
  display: flex;
  margin-bottom: 20px;
  padding: 25px;
  justify-content: flex-start;
}

.utilization .twoTables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.utilization .searchBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
}

.utilization .updateList {
  overflow-y: scroll;
  height: 180px;
  /* width: 350px; */
}

.utilization th {
  margin: 10px;
  padding: 15px;
  font-family: "Raleway";
  text-align: left;
  color: white;
  /* white-space: nowrap; */
  font-weight: bold;
  /* border-radius: 10px 10px 0px 0px; */
  border-top: 1px solid black;
  box-sizing: border-box;
  background-color: var(--disabledcolor);
}

.utilization .thHeader {
  border: none;
  font-size: 15px;
  background-color: #3D8AC9;;
}

.utilization td {
  margin: 10px;
  padding: 10px;
  font-family: "Raleway";
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
}

.utilization .updateList::-webkit-scrollbar {
  width: 10px;
}

.utilization .updateList::-webkit-scrollbar-thumb {
  background: #006eb6;
  border-radius: 20px;
}

.utilization .updateList::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.utilization .li:hover {
  cursor: pointer;
  font-weight: bold;
  color: #006eb6;
}

/* -------------------------------------------------------- */

/* S M A L L   V I E W */
@media only screen and (max-width: 37.5em) {
  .utilization .utilization {
    margin: unset;
    margin: 0px;
  }

  .utilization h1 {
    font-size: 30px;
    padding: 0px 15px;
    margin-bottom: 60px;
  }

  .utilization .h2available {
    padding: 0px;
    margin-top: 40px;
    font-size: 1em;
  }
  .utilization .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: unset;
  }

  .utilization .container {
    border-radius: 0px;
    height: 100vh;
  }

  .utilization .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .utilization #formheader {
    margin: 0px;
    display: flex;
    /* justify-content: center; */
    font-size: 0.9em;
  }

  .utilization .dropdown {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }

  .utilization .dropdownDescription {
    font-size: 1em;
    max-width: 100%;
  }

  .utilization .singleOption {
    font-size: 15px;
  }

  .utilization .courseselect {
    display: flex;
    flex-direction: column;
    margin: unset;
    width: unset;
  }

  .utilization .listHead {
    flex-direction: column;
    height: unset;
    border-radius: 15px;
    padding: 5px 20px 15px 20px;
    align-items: flex-start;
  }
  .utilization .templatesAvailable {
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
  }
  .utilization .button {
    padding: 0px;
  }

  .utilization .btn {
    width: 90px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    height: 65px;
  }

  .utilization .twoTables {
    display: flex;
    flex-direction: column;
  }

  .utilization .listHead {
    background-color: transparent;
  }
  .utilization .listHeadText {
    color: black;
  }

  .utilization #search {
    color: black;
  }

  .utilization .searchBar {
    margin-bottom: 25px;
  }

  .utilization .updateList {
    width: 80vw;
    max-width: 242px;
  }

  .utilization .updateList::-webkit-scrollbar {
    width: 10px;
  }

  .utilization .updateList::-webkit-scrollbar-thumb {
    background: #006eb6;
    border-radius: 20px;
  }

  .utilization .updateList::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }

  .utilization .li:hover {
    cursor: pointer;
    font-weight: bold;
    color: #006eb6;
  }
  .utilization .scoreboardTable {
    display: none;
  }

  .utilization .studentEmail {
    display: none;
  }

  .utilization .creationDate {
    display: none;
  }
  .utilization .vmTemplate {
    display: none;
  }

  /* POP UP ALERT */
  .utilization .popupbox {
    position: fixed;
    background: #0000007b;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .utilization .box {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 30px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row-reverse;
    width: 75vw;
    min-width: 180px;
  }
  .utilization .alertButton {
    border: none;
  }

  .utilization .alertButton:hover {
    cursor: pointer;
    opacity: 90%;
  }

  .utilization .alertLabel {
    font-weight: bold;
    opacity: 50%;
  }

  .utilization .alert {
    padding: 10px;
    margin-left: 10px;
    display: flex;
  }
  .utilization .closeicon {
    color: red;
    font-weight: bold;
  }

  .utilization .closeicon:hover {
    cursor: pointer;
    opacity: 80%;
  }
}

/* -------------------------------------------------------- */

/* M E D I U M   V I E W */
@media only screen and (min-width: 37.5em) {
  .utilization .container {
    min-height: unset;
    width: 95%;
  }

  .utilization .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .utilization .courseselect {
    /* display: flex; */
    font-size: unset;
    margin: unset;
    width: 100%;
    justify-content: space-between;
    max-width: 800px;
  }

  .utilization .dropdown {
    font-size: 1em;
  }
  .utilization .dropdownDescription {
    /* margin-right: unset; */
    width: 100%;
    font-size: 1em;
  }

  .utilization .resetBtn {
    margin-top: 15px;
    margin-bottom: -15px;
    height: 55px;
    width: 40px;
  }

  .utilization .templatesAvailable {
    margin: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .utilization .h2available {
    margin-top: 2em;
    font-size: 20px;
    margin-bottom: 0.5em;
    padding: 0;
  }

  .utilization .button {
    padding: unset;
    justify-content: unset;
  }

  .utilization .twoTables {
    padding-left: 100px;
    padding-right: 90px;
    /* padding: 60px; */
    display: flex;
    flex-direction: column;
  }

  .utilization .searchBar {
    display: unset;
    margin: unset;
  }

  .utilization .listHead {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: unset;
    margin: unset;
    /* padding-left: 85px; */
  }

  .utilization .updateList {
    width: unset;
  }

  .utilization .scoreboard {
    margin-top: 20px;
  }
  .utilization .alertLabel {
    display: none;
  }
  .utilization .alertButton {
    display: none;
  }

  .utilization .scoreboard {
    background: lightgrey;
    border-radius: 8px;
    min-width: 550px;
  }
}

/* -------------------------------------------------------- */

/* L A R G E   V I E W */
@media only screen and (min-width: 64em) {
  .utilization .twoTables {
    flex-direction: row;
  }
  .utilization .scoreboard {
    background: white;
    /* border: 1px solid gray; */
    border-radius: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 15px;
    max-width: 95%;
    max-height: 400px;
    overflow: auto;
  }
  .utilization .scoreboard::-webkit-scrollbar {
    width: 10px;
  }

  .utilization .scoreboard::-webkit-scrollbar-thumb {
    background: #006eb6;
    border-radius: 20px;
  }

  .utilization .scoreboard::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
  .utilization .scoreboardTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  .utilization .alertLabel {
    display: none;
  }
  .utilization .alertButton {
    display: none;
  }
}
